@import 'vars';
@import 'fonts';
@import 'global';
@import 'libs';
@import 'reset';

.header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        position: unset;
        width: 19px;
        height: 19px;
        background-image: url('../images/search.svg');
        transition: transform 0.3s;
        @extend %bg-icon;

        &:hover {
            @extend %hover-transform;
        }

        &:focus {
            @extend %focus-accent;
        }
    }
}

.search {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding-right: 60px;
    z-index: 2;
    transform: translateY(-200%);
    transition: all 0.5s;
    @extend %visibility-off;

    &:target {
        transform: translateY(0);
        @extend %visibility-on;
    }

    &__wrapper {
        width: 100%;
    }

    &__input {
        padding: 5px 70px 5px 30px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: 1.3;
        border: none;
        border-radius: 10px;
        caret-color: #59688B;
        color: $white-color;
        @extend %geometria-500;
        @extend %blur-bg;

        &::placeholder {
            text-align: left;
            color: #2E3F69;
            font-size: 18px;
            @extend %geometria-700;
        }

        &:focus {
            @extend %focus-accent;
        }
    }

    &__close {
        right: 77px;
        top: 3px;
        @extend %x-mark;
        @extend %bg-icon;

        &:focus {
            @extend %focus-accent;
        }
    }
}


.live-src {
    padding: 20px 0 34px;
    max-height: 75vh;
    border-radius: 10px;
    overflow-y: auto;
    @extend %blur-bg;

    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 40px;
            border-bottom: 1px solid $white-gray-color;
        }
    }

    &__title {
        max-width: 100px;
        width: 100%;
        padding: 28px 0 0 50px;
        margin-right: 240px;
        font-size: 24px;
        color: $white-color;
        @extend %geometria-500;
    }

    &__subitem {
        max-width: 300px;
        padding-bottom: 40px;

        &:not(:last-child) {
            margin-right: 100px;
        }
    }

    &__subtitle {
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
        color: $white-color;
        @extend %geometria-500;
    }

    &__link {
        position: relative;
        display: block;
        color: $white-color;
        transition: background-color 0.3s;
        @extend %gilroy-300;

        &:not(:last-child) {
            margin-bottom: 15px;

            &::after {
                position: absolute;
                width: 100%;
                bottom: -10px;
                left: 0;
                border-bottom: 1px solid $white-gray-color;
                content: '';
            }
        }

        &:focus {
            @extend %focus-accent;
        }

        &:hover {
            background-color: $pink-color;
        }
    }
}

.logo {
    &:focus {
        @extend %focus-accent;
    }
}

.lang-menu {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__btn {
        text-transform: uppercase;
        color: #7E88A1;
        @extend %geometria-500;
    }
}

.lang-menu__btn--active {
    color: $sky-blue-color;
}

.menu {
    padding: 0 90px 0 135px;

    &__btn {
        display: none;
    }

    &__items {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 31px;
        }
    }

    &__link {
        position: relative;
        color: $sky-blue-color;

        &:focus {
            @extend %focus-accent;
        }

        &--accent {
            padding: 7px 20px;
            background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(157, 95, 155, 1) 0%, rgba(231, 52, 83, 1) 55%);
            border-radius: 5px;
            color: $white-color;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.8;
            }
        }

        &--active {
            border-bottom: 3px solid $sky-blue-color;
        }

        &--grey {
            padding: 7px 20px;
            border-radius: 5px;
            background-color: rgba($black-color, 0.2);
        }

        &--underline {
            &::before {
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $sky-blue-color;
                transition: 0.3s;
                transform: scaleX(0);
                content: '';
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }
}

.verify-menu {
    display: flex;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &--slash {
            &::after {
                position: absolute;
                right: -12px;
                top: 0;
                font-size: 14px;
                color: $sky-blue-color;
                content: '/';
            }
        }
    }

    &__link {
        color: $sky-blue-color;
        transition: 0.3s color;
        @extend %geometria-500;

        &:hover {
            @extend %hover-accent;
        }

        &:focus {
            @extend %focus-accent;
        }
    }
}

.support {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__wrapper {
        padding: 25px 0 30px 70px;
        @extend %wrapper-default;
    }

    &__project {
        position: relative;
        margin-bottom: 75px;
    }

    &__title {
        display: inline-block;
        margin-right: 10px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }

    &__text {
        position: relative;
        max-width: 440px;
        margin-bottom: 35px;
        font-size: 18px;
        color: $white-color;
        @extend %gilroy-300;

        &::after {
            position: absolute;
            top: -20px;
            left: 0;
            width: 50px;
            border-bottom: 2px solid $white-color;
            content: '';
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        font-size: 18px;
        color: $sky-blue-color;
        transition: color 0.3s;
        @extend %geometria-500;

        &::after {
            right: -28px;
            top: 2px;
            height: 20px;
            width: 25px;
            background-image: url('../images/arrow.svg');
            @extend %bg-icon;
        }

        &--details {
            position: absolute;
            top: 40px;
        }

        &--help {
            margin-right: 122px;
        }

        &--project {
            &::after {
                top: 0;
                right: -35px;
                background-image: url('../images/plus.svg');
                @extend %bg-icon;
            }

        }

        &:hover {
            @extend %hover-accent;
        }

        &:focus {
            @extend %focus-accent;
        }
    }

    &__popup-link {
        padding: 13px 20px;
        color: $white-color;
        background-color: #2D3A5A;
        border-radius: 10px;
        transition: color 0.3s;
        font-size: 18px;
        @extend %geometria-500;

        &:hover {
            @extend %hover-accent;
        }

        &:focus {
            @extend %focus-accent;
        }
    }
}

.popup-aid {
    @extend %popup;

    &__wrapper {
        @extend %popup-wrapper;
    }

    &__content {
        padding: 50px 0 133px;
        @extend %popup-content;
    }

    &__close {
        @extend %popup-close;
    }

    &__title {
        margin-bottom: 68px;
        @extend %popup-title;
    }

    &__items {
        display: flex;
        justify-content: space-evenly;
        padding-left: 90px;
    }

    &__item {
        position: relative;
        width: 145px;

        &--padding {
            padding-top: 7px;
        }
    }

    &__link {
        transition: transform 0.3s;

        &:hover {
            @extend %hover-transform;
        }

        &:focus {
            @extend %focus-accent;
        }

        &--first {
            background-image: url('../images/popup-aid/1.svg');
            @extend %popup-aid-icon;
            @extend %bg-icon;
        }

        &--second {
            background-image: url('../images/popup-aid/2.svg');
            @extend %popup-aid-icon;
            @extend %bg-icon;
        }

        &--third {
            background-image: url('../images/popup-aid/3.svg');
            @extend %popup-aid-icon;
            @extend %bg-icon;
        }

        &--four {
            background-image: url('../images/popup-aid/4.svg');
            @extend %popup-aid-icon;
            @extend %bg-icon;
        }
    }

    &__subtitle {
        margin-bottom: 30px;
        font-size: 18px;
        color: $blue-color;

        &--margin {
            margin-bottom: 15px;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 1.3;
        color: $blue-color;
        @extend %gilroy-300;

        & p:first-child {
            margin-bottom: 5px;
        }
    }
}



.popup-form {
    @extend %popup;

    &__wrapper {
        @extend %popup-wrapper;
    }

    &__content {
        @extend %popup-content;
    }

    &__inner {
        padding: 70px 60px 0 140px;
    }

    &__close {
        @extend %popup-close;
    }

    &__title {
        margin-bottom: 45px;
        color: $saphire-color;
        @extend %popup-title;
    }

    &__tab {
        position: absolute;
        top: 135px;
        left: calc(50% - 95px);
        padding: 10px 19px;
        cursor: pointer;
        color: #363B5D;
        border: 2px solid $saphire-color;
        border-radius: 5px 0 0 5px;

        &--border {
            left: calc(50% + 20px);
            border-radius: 0 5px 5px 0;
        }

        &--active {
            background-color: $saphire-color;
            color: $white-color;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;

        &:last-child {
            padding-top: 85px;
        }

        &--hide {
            display: none;
        }
    }

    &__item {
        display: flex;
        position: relative;
        color: #939AA3;

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__label {
        top: -16px;
        position: absolute;
        @extend %geometria-500;

        &--nearby {
            left: 220px;
        }
    }

    &__input {
        padding: 12px 10px;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        background-color: rgba($sky-blue-color, 0.2);

        &:hover {
            background-color: $sky-blue-color;
        }

        &:focus {
            @extend %focus-accent;
        }

        &--half {
            margin-right: 20px;
        }

        &--whole {
            width: 100%;
        }
    }

    &__link {
        position: absolute;
        right: -95px;
        top: 13px;
        color: #4A90E2;
        transition: color 0.3s;
        @extend %geometria-500;

        &:hover {
            @extend %hover-accent;
        }

        &:focus {
            @extend %focus-accent;
        }
    }

    &__button {
        text-align: center;
    }

    &__btn {
        border-radius: 10px;
        padding: 19px 100px;
        font-size: 18px;
        transition: all 0.3s;
        color: $white-color;
        background: linear-gradient(47deg, #E53656, #6082D8);
        box-shadow: 0px 0px 15px 5px rgba(229, 54, 86, 0.4);

        &:hover {
            box-shadow: 0px 0px 15px 10px rgba(229, 54, 86, 0.4);
        }
    }
}

.donate {
    padding-top: 72px;

    &__title {
        text-align: center;
        font-size: 64px;
        color: $saphire-color;
        @extend %geometria-800;
    }

    &__subtitle {
        display: block;
        margin-bottom: 35px;
        text-align: center;
        font-size: 18px;
        color: $saphire-color;
        @extend %gilroy-300;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding: 0 165px 0 25px;
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 25px;
        left: 90px;
        max-width: 115px;
        font-size: 18px;
        color: $saphire-color;
    }

    &__btn {
        border-radius: 17px;
        position: relative;

        &:hover use {
            transition: all 0.3s;
            fill: #c291c0;
            stroke: none;
        }

        &:hover .dotane__svg-path {
            fill: $white-color;
            transition: all 0.2s;
        }

        &--active use {
            transition: all 0.2s;
            fill: #9c5d9a;
            stroke: none;
        }

        &--active .dotane__svg-path {
            transition: all 0.2s;
            fill: $white-color;
        }

        &--active::after {
            z-index: 8;
            bottom: -22px;
            left: 18px;
            height: 35px;
            width: 50px;
            background-image: url('../images/donate-methods/arrow-border.svg');
            @extend %bg-icon;
        }
    }

    &__methods {
        padding: 40px 20px 20px 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        border: 1px solid $white-gray-color;
        background-color: $white-color;
        border-radius: 20px;
    }

    &__frame {
        position: absolute;
        max-width: unset;
        top: -55px;
        left: -20px;
    }

    &__services {
        display: flex;
        position: relative;
        max-width: 600px;
        flex-wrap: wrap;
        margin: 0 -20px;

        &::before {
            content: 'Спосіб оплати';
            @extend %methods-label;
        }
    }

    &__service {
        display: block;
        margin: 0 10px 20px;
        position: relative;

        &--hide {
            display: none;
        }
    }

    &__service-btn {
        position: relative;
        width: 170px;
        padding: 60px 0 10px 0;
        text-align: center;
        border-radius: 10px;
        background-color: $sky-blue-color;
        transition: background-color 0.3s;

        &:hover {
            background-color: #c49ac2;
        }

        &--active {
            background-color: #9C5D9A;
        }

        &--visa {
            &::after {
                @extend %bg-icon;
                left: 30px;
                top: 20px;
                width: 110px;
                height: 25px;
                background-image: url('../images/donate-methods/visa.svg');
            }
        }

        &--privatbank {
            &::after {
                @extend %bg-icon;
                left: 30px;
                top: 20px;
                width: 101px;
                height: 31px;
                background-image: url('../images/donate-methods/privat.svg');
            }
        }

        &--terminal {
            &::after {
                @extend %bg-icon;
                left: 75px;
                top: 15px;
                width: 22px;
                height: 39px;
                background-image: url('../images/donate-methods/terminal.svg');
            }
        }

        &--webmoney {
            &::after {
                @extend %bg-icon;
                left: 30px;
                top: 15px;
                width: 100px;
                height: 28px;
                background-image: url('../images/donate-methods/webmoney.svg');
            }
        }

        &--paypal {
            &::after {
                @extend %bg-icon;
                left: 70px;
                top: 20px;
                width: 30px;
                height: 31px;
                background-image: url('../images/donate-methods/paypal.svg');
            }
        }

        &--bank {
            &::after {
                @extend %bg-icon;
                left: 70px;
                top: 20px;
                width: 30px;
                height: 30px;
                background-image: url('../images/donate-methods/bank.svg');
            }
        }
    }

    &__service-text {
        @extend %gilroy-300;
        color: $white-color;
    }

    &__card-form {
        position: relative;
        padding: 42px 25px 20px;
        max-height: 192px;
        border-radius: 15px;
        background-color: $sky-blue-color;

        &::before {
            content: 'Введіть наступні данні';
            @extend %methods-label;
        }
    }

    &__card-numbers {
        display: flex;
        margin-bottom: 50px;
    }

    &__card-number-label {
        top: 22px;
        @extend %card-label;
    }

    &__card-number {
        width: 75px;
        @extend %card-input;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    &__card-bottom {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &__card-exp-label {
        top: -17px;
        left: 0;
        @extend %card-label;
    }

    &__exp {
        display: block;
        width: 130px;
        @extend %card-input;
    }

    &__card-cvv-label {
        top: -17px;
        right: 60px;
        @extend %card-label;
    }

    &__cvv {
        display: block;
        width: 130px;
        @extend %card-input;
    }
}

.projects {
    padding: 78px 0;

    &__wrapper {
        align-items: center;
        @extend %wrapper-default;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin-bottom: 10px;
    }

    &__item {
        position: relative;
    }

    &__link {
        font-size: 64px;
        color: rgba($white-color, 0.3);
        transition: color 0.3s;

        &:focus {
            @extend %focus-accent;
        }

        &:hover {
            @extend %hover-accent;
        }

        &--active {
            color: $white-color;
        }
    }

    &__counter {
        position: absolute;
        top: 30px;
        right: -40px;
        display: none;
        font-size: 18px;

        &--red {
            color: #E63554;
        }

        &--blue {
            color: #8492F3
        }
    }

    &__menu {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        max-width: 1280px;
        width: 100%;
        margin-bottom: 50px;
    }

    &__menu-btn {
        display: block;
        position: relative;
        color: $sky-blue-color;
        transition: color 0.3s;
        @extend %geometria-500;

        &--rainbow {
            &::after {
                background-image: url('../images/check-rainbow.svg');
                @extend %bg-icon;
                @extend %check-icon;
            }
        }

        &--white {
            &::after {
                background-image: url('../images/check-white.svg');
                @extend %bg-icon;
                @extend %check-icon;
            }
        }

        &:hover {
            @extend %hover-accent;
        }

        &:focus {
            @extend %focus-accent;
        }
    }

    &__menu-items {
        position: absolute;
        top: 25px;
        right: -35px;
        max-width: 160px;
        width: 100%;
        border-radius: 10px;
        background: rgba(148, 193, 240, 0.5);
        backdrop-filter: blur(5px);
        transition: all 0.5s;
        z-index: 5;
        @extend %visibility-off;
    }

    &__menu-item {
        position: relative;
        padding: 12px 15px;

        &--size {
            padding: 4px 15px;
        }

        &--btn {
            padding: 15px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #86A5CB;
        }
    }

    &__menu-label {
        display: block;
        max-width: 75px;
        font-size: 12px;
        cursor: pointer;
        @extend %geometria-500;

        &::before {
            position: absolute;
            top: 10px;
            right: 15px;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background-color: #979797;
            content: '';
        }
    }

    &__menu-submit {
        padding: 7px 35px;
        border-radius: 5px;
        background: rgba(100, 127, 156, 0.5);
        backdrop-filter: blur(5px);
        color: $white-color;
        font-size: 12px;
        @extend %geometria-500;
    }
}

.projects__menu-radio:checked+.projects__menu-label:before {
    background: linear-gradient(47deg, #E53656, #6082D8);
}

.projects__menu-btn--active+.projects__menu-items {
    @extend %visibility-on;
}

.projects__link--active+.projects__counter {
    display: block;
}


.aid-cards {
    padding: 0 20px 0 120px;

    &__item {
        display: flex;
        height: 100px;
        border-bottom: 1px solid $white-gray-color;
        transition: height 0.50s;

        &:hover {
            height: 200px;
        }
    }

    &__preview {
        margin-right: 50px;
    }

    &__link {
        position: relative;
        display: block;
        width: 400px;
        height: 100px;
        overflow: hidden;
        transition: height 0.5s;

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $black-color;
            opacity: 0.4;
            transition: opacity 1.2s;
            content: '';
        }

        &:focus {
            @extend %focus-accent;
        }
    }

    &__img {
        position: absolute;
        width: 400px;
        height: 200px;
        object-fit: fill;
    }

    &__label {
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 5px;
        background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(157, 95, 155, 1) 0%, rgba(231, 52, 83, 1) 55%);
        border-radius: 5px;
        z-index: 1;
    }

    &__details {
        max-width: 600px;
        padding: 10px 0;
    }

    &__date {
        display: block;
        margin-bottom: 20px;
        font-size: 12px;
        color: $sky-blue-color;
        @extend %gilroy-300;
    }

    &__title {
        margin-bottom: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 1.1em;
        font-size: 18px;
    }

    &__descr {
        position: relative;
        transition: opacity 1.5s;
        @extend %visibility-off;
    }

    &__more-btn {
        bottom: -8px;
        right: 114px;
        width: 25px;
        height: 5px;
        padding: 15px;
        background-image: url('../images/three-dots.svg');
        @extend %bg-icon;
    }

    &__text {
        height: 80px;
        margin-bottom: 17px;
        overflow: hidden;
        @extend %gilroy-300;
    }

    &__donate {
        max-width: 480px;
        font-size: 14px;
        color: #B4C4D8;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 1.1em;
        @extend %gilroy-300;
    }

    &__list-btn {
        width: 200px;
        transition: opacity 1.5s;
        @extend %visibility-off;
    }

    &__item-btn {
        position: relative;
    }

    &__btn {
        transition: transform 0.3s;

        &:focus {
            @extend %focus-accent;
        }

        &--first {
            top: 10px;
            background-image: url('../images/projects-kids/icon-1.svg');
            @extend %bg-icon;
            @extend %aid-cards-btn-icon;

            &:hover::after {
                position: absolute;
                top: 10px;
                left: -53px;
                content: 'зробити';
                @extend %project-menu-hover;
            }
        }

        &--first-blue {
            top: 110px;
            background-image: url('../images/urgently-kids/icon-1.svg');
            @extend %bg-icon;
            @extend %aid-cards-btn-icon;

            &:hover::after {
                position: absolute;
                top: 10px;
                left: -53px;
                content: 'зробити';
                @extend %project-menu-hover;
            }
        }

        &--second {
            top: 60px;
            background-image: url('../images/projects-kids/icon-2.svg');
            @extend %aid-cards-btn-icon;
            @extend %bg-icon;

            &:hover::after {
                position: absolute;
                top: 2px;
                left: -65px;
                content: 'фінансова';
                @extend %project-menu-hover;
            }

            &:hover::before {
                position: absolute;
                top: 15px;
                left: -62px;
                content: 'допомога';
                @extend %project-menu-hover;
            }
        }

        &--second-position {
            top: 110px;
            background-image: url('../images/projects-kids/icon-2.svg');
            @extend %aid-cards-btn-icon;
            @extend %bg-icon;

            &:hover::after {
                position: absolute;
                top: 2px;
                left: -65px;
                content: 'фінансова';
                @extend %project-menu-hover;
            }

            &:hover::before {
                position: absolute;
                top: 15px;
                left: -62px;
                content: 'допомога';
                @extend %project-menu-hover;
            }
        }

        &--second-blue {
            top: 160px;
            background-image: url('../images/urgently-kids/icon-2.svg');
            @extend %aid-cards-btn-icon;
            @extend %bg-icon;

            &:hover::after {
                position: absolute;
                top: 2px;
                left: -65px;
                content: 'фінансова';
                @extend %project-menu-hover;
            }

            &:hover::before {
                position: absolute;
                top: 15px;
                left: -62px;
                content: 'допомога';
                @extend %project-menu-hover;
            }
        }

        &--third {
            top: 110px;
            background-image: url('../images/projects-kids/icon-3.svg');
            @extend %aid-cards-btn-icon;
            @extend %bg-icon;

            &:hover::after {
                position: absolute;
                top: 2px;
                left: -80px;
                content: 'матеріальна';
                @extend %project-menu-hover;
            }

            &:hover::before {
                position: absolute;
                top: 15px;
                left: -64px;
                content: 'допомога';
                @extend %project-menu-hover;
            }
        }

        &--third-position{
            top: 160px;
            background-image: url('../images/projects-kids/icon-3.svg');
            @extend %aid-cards-btn-icon;
            @extend %bg-icon;

            &:hover::after {
                position: absolute;
                top: 2px;
                left: -80px;
                content: 'матеріальна';
                @extend %project-menu-hover;
            }

            &:hover::before {
                position: absolute;
                top: 15px;
                left: -64px;
                content: 'допомога';
                @extend %project-menu-hover;
            }
        }

        &--four {
            top: 160px;
            background-image: url('../images/projects-kids/icon-4.svg');
            @extend %aid-cards-btn-icon;
            @extend %bg-icon;

            &:hover::after {
                position: absolute;
                top: 10px;
                left: -85px;
                content: 'волонтерство';
                @extend %project-menu-hover;
            }
        }
    }
}


.aid-cards__more-btn--active~.aid-cards__donate {
    max-height: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #818ba0;
    z-index: 7;
}

.aid-cards__item:hover .aid-cards__descr {
    @extend %visibility-on;
}

.aid-cards__item:hover .aid-cards__link {
    height: 200px;
}

.aid-cards__item:hover .aid-cards__list-btn {
    @extend %visibility-on;
}

.aid-cards__item:hover .aid-cards__link::after {
    opacity: 0;
}

.community {
    &__wrapper {
        padding-bottom: 35px;
        @extend %wrapper-default;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 95px;
    }

    &__link {
        display: inline-block;
        font-size: 64px;
        transition: color 0.3s;

        &:first-child {
            margin-bottom: 25px;
        }

        &:hover {
            @extend %hover-accent;
        }

        &:focus {
            @extend %focus-accent;
        }
    }

    &__consultation {
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 18px;
        @extend %gilroy-300;
    }

    &__items {
        display: flex;
        justify-content: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgba($sky-blue-color, 0.3);
        color: $white-color;

        &::placeholder {
            color: $white-color;
            @extend %geometria-500;
        }

        &:focus {
            @extend %focus-accent;
        }
    }

    &__btn {
        padding: 10px 60px;
        border-radius: 5px;
        background-color: rgba($black-color, 0.3);
        color: $white-color;
        @extend %geometria-500;
    }
}

.footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 70px 28px;

        &--hidden {
            flex-direction: row-reverse;
        }
    }

    &__social {
        display: flex;
    }

    &__text {
        color: $sky-blue-color;
    }

    &__items {
        &--center {
            margin: 0 auto;
            padding: 0 115px 20px 0;
        }
    }

    &__item {
        position: relative;
    }

    &__link {
        transition: 0.3s transform;

        &:hover {
            @extend %hover-transform;
        }

        &:focus {
            @extend %focus-accent;
        }

        &--twitter {
            right: -31px;
            top: 0;
            width: 20px;
            height: 15px;
            background-image: url('../images/twitter.svg');
            @extend %bg-icon;
        }

        &--facebook {
            right: -60px;
            top: 0;
            width: 9px;
            height: 18px;
            background-image: url('../images/facebook.svg');
            @extend %bg-icon;
        }

        &--vk {
            right: -108px;
            top: 0;
            width: 28px;
            height: 16px;
            background-image: url('../images/vk.svg');
            @extend %bg-icon;
        }
    }

    &__chat {
        position: relative;
    }

    &__btn {
        top: -47px;
        left: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: 0.3s box-shadow;

        &--purple {
            background-image: url('../images/chat-purple.svg');
            @extend %bg-icon;
            -webkit-box-shadow: 0px 0px 2px 4px rgba(151, 151, 151, 0.2);
            -moz-box-shadow: 0px 0px 2px 4px rgba(151, 151, 151, 0.2);
            box-shadow: 0px 0px 2px 4px rgba(151, 151, 151, 0.2);

            &:hover {
                -webkit-box-shadow: 0px 0px 24px 15px rgba(207, 66, 107, 0.7);
                -moz-box-shadow: 0px 0px 24px 15px rgba(207, 66, 107, 0.7);
                box-shadow: 0px 0px 24px 15px rgba(207, 66, 107, 0.7);
            }
        }

        &--blue {
            background-image: url('../images/chat-blue.svg');
            @extend %bg-icon;
            -webkit-box-shadow: 0px 0px 2px 4px rgba(132, 146, 243, 0.2);
            -moz-box-shadow: 0px 0px 2px 4px rgba(132, 146, 243, 0.2);
            box-shadow: 0px 0px 2px 4px rgba(132, 146, 243, 0.2);

            &:hover {
                -webkit-box-shadow: 0px 0px 24px 15px rgba(215, 221, 255, 0.7);
                -moz-box-shadow: 0px 0px 24px 15px rgba(215, 221, 255, 0.7);
                box-shadow: 0px 0px 24px 15px rgba(215, 221, 255, 0.7);
            }
        }

        &--position {
            top: -66px;
        }
    }
}

@import 'media';